<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="inicio.css"/>
	<script id="applicationScript" type="text/javascript" src="inicio.js"></script>
	<title>Inicio</title>
</head>
<body>
	<div id="inicio">
		<div id="Grupo_1">
			<svg class="Rectngulo_1_r">
				<linearGradient id="Rectngulo_1_r" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#114667" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#2296de" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectngulo_1_r" rx="39" ry="39" x="0" y="0" width="1274" height="647">
				</rect>
			</svg>
					
			<svg class="Rectngulo_2">				
				<rect id="Rectngulo_2" rx="33" ry="33" x="0" y="0" width="277" height="647">
				</rect>				
			</svg>
			<a href="/inicio" id="img"><img src="home.png" alt="Home"></a>
			<div id="Empleados">
				<a href="/Employee">
					<svg class="Rectngulo_3">
						<rect id="Rectngulo_3" rx="29" ry="29" x="0" y="0" width="206" height="72">
						</rect>
					</svg>
					<div id="EMPLEADOS">
						<span>EMPLEADOS</span>
					</div>
				</a>
			</div>

			<div id="Empresas">
				<a href="/Enterprise">
					<svg class="Rectngulo_4">
						<rect id="Rectngulo_4" rx="29" ry="29" x="0" y="0" width="206" height="72">
						</rect>
					</svg>
					<div id="EMPRESAS">
						<span>EMPRESAS</span>
					</div>
				</a>
			</div>

			<div id="Movimientos">
				<a href="/Movements">
					<svg class="Rectngulo_5">
						<rect id="Rectngulo_5" rx="29" ry="29" x="0" y="0" width="206" height="72">
						</rect>
					</svg>
					<div id="MOVIMIENTOS">
						<span>MOVIMIENTOS</span>
					</div>
				</a>
			</div>

			<div id="GestionEmpleados">
				<a href="/Employee">
					<svg class="Rectngulo_6">
						<rect id="Rectngulo_6" rx="31" ry="31" x="0" y="0" width="216" height="216">
						</rect>
					</svg>
					<div id="GESTIN_DE_EMPLEADOS">
						<span>GESTIÓN<br/>DE EMPLEADOS</span>
					</div>
				</a>
			</div>
			<div id="GestionEmpresas">
				<a href="/Enterprise">
					<svg class="Rectngulo_7">
						<rect id="Rectngulo_7" rx="31" ry="31" x="0" y="0" width="216" height="216">
						</rect>
					</svg>
					<div id="GESTIN_DE_EMPRESAS">
						<span>GESTIÓN<br/>DE EMPRESAS</span>
					</div>
				</a>
			</div>
			<div id="GestionIYE">
				<a href="/Movements">
					<svg class="Rectngulo_8">
						<rect id="Rectngulo_8" rx="31" ry="31" x="0" y="0" width="216" height="216">
						</rect>
					</svg>
					<div id="GESTIN_DE_INGRESOS__EGRESOS">
						<span>GESTIÓN<br/>DE INGRESOS<br/>& EGRESOS</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>