<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="nuevaempresa.css"/>
    <script id="applicationScript" type="text/javascript" src="nuevaempresa.js"></script>
    <title>Nueva Empresa</title>
</head>
<body>
    <div id="nuevaempresa">
        <div id="Grupo_1">
            <svg class="Rectngulo_1">
                <rect id="Rectngulo_1" rx="39" ry="39" x="0" y="0" width="1274" height="647">
                </rect>
            </svg>
            <svg class="Rectngulo_2">
                <rect id="Rectngulo_2" rx="33" ry="33" x="0" y="0" width="277" height="647">
                </rect>
            </svg>
            <a href="/inicio" id="img"><img src="home.png" alt="Home"></a>
            <div id="Empleados">
                <a href="/Employee">
                    <svg class="Rectngulo_3">
                        <rect id="Rectngulo_3" rx="29" ry="29" x="0" y="0" width="206" height="72">
                        </rect>
                    </svg>
                    <div id="EMPLEADOS">
                        <span>EMPLEADOS</span>
                    </div>
                </a>
            </div>
            <div id="Empresas">
                <a href="/Enterprise">
                    <svg class="Rectngulo_4">
                        <rect id="Rectngulo_4" rx="29" ry="29" x="0" y="0" width="206" height="72">
                        </rect>
                    </svg>
                    <div id="EMPRESAS">
                        <span>EMPRESAS</span>
                    </div>
                </a>>
            </div>
            <div id="Movimientos">
                <a href="/Movements">
                    <svg class="Rectngulo_5">
                        <rect id="Rectngulo_5" rx="29" ry="29" x="0" y="0" width="206" height="72">
                        </rect>
                    </svg>
                    <div id="MOVIMIENTOS">
                        <span>MOVIMIENTOS</span>
                    </div>
                </a>
            </div>
            <div id="GestionEmpleados">
                <svg class="Rectngulo_6">
                    <rect id="Rectngulo_6" rx="31" ry="31" x="0" y="0" width="997" height="78">
                    </rect>
                </svg>
                <div id="GESTIN_DE_EMPRESAS">
                    <span>GESTIÓN DE EMPRESAS</span>
                </div>
            </div>
            
            <div id="NuevoRegistro">
                <span>Nuevo Registro</span>
            </div>
            <div>
                <form th:action="@{/Enterprise}" method="post" id="Formulario" class="Formulario">
                    
                    <div id="nombre" class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text"  th:field="${enterprise.name}" class="form-control" placeholder="Nombre">
                    </div>
                    <div id="Nitempresa" class="mb-3">
                        <label class="form-label">NIT</label>
                        <input type="text" th:field="${enterprise.nit}" class="form-control" placeholder="NIT">
                    </div>
                    <div id="direccion" class="mb-3">
                        <label class="form-label">Direccion</label>
                        <input type="text"  th:field="${enterprise.address}" class="form-control" placeholder="Direccion">
                    </div>
                    <div id="telefono" class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input type="number"  th:field="${enterprise.phone}" class="form-control" placeholder="Telefono">
                    </div>
                    <div id="creado" >
                        <label class="form-label">Creado</label>
                        <input type="date"  th:field="${enterprise.create_at}" class="form-control" placeholder="Creado">
                    </div>
                    <!--<div id="actualizado" class="mb-3">
                        <label class="form-label">Actualizado</label>
                        <input type="date" th:field="${enterprise.update_at}" class="form-control" placeholder="Actualizado">
                    </div>-->
                    <div>
                        <button type="submit">
                            <div id="BtnAgregar">
                                <svg class="Rectngulo_9">
                                    <rect id="Rectngulo_9" rx="20" ry="20" x="0" y="0" width="143" height="42">
                                    </rect>
                                </svg>
                                <div id="Agregar">
                                    <span>Agregar</span>
                                </div>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>