<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Editar Empresa</title>
</head>
<body style="background-color: rgb(31 141 208)">
    <div style="position:absolute; top:206px; left:574px">
        <form th:action="@{/Enterprise/editar/{id} (id = ${enterprise.id})}" method="post">
            <div>
                <label for="nombre">Nombre</label>
            <input type="text" id="nombre" th:field="${enterprise.name}"><br>
            </div>
            <div>
                <label for="nit">NIT</label>
                <input type="text" id="nit" th:field="${enterprise.nit}"><br>
            </div>
            <div>
                <label for="direccion">Direccion</label>
                <input type="text" id="direccion" th:field="${enterprise.address}">
            </div>            
            <div>
                <label for="telefono">Telefono</label>
                <input type="number" id="telefono" th:field="${enterprise.phone}">
            </div>
            <div>
                <label for="creado">Creado</label>
                <input type="date" id="creado" th:field="${enterprise.create_at}"><br>
            </div>
            <!--<div>
                <label for="actualizado">Actualizado</label>
                <input type="date" id="actualizado" th:field="${enterprise.update_at}"><br>
            </div>-->
            <div>
                <input type="submit" value="Editar">    
            </div>            
        </form>
        <a href="/Enterprise">
            <button> Regresar</button>
        </a>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>