<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="empleados.css"/>
	<script id="applicationScript" type="text/javascript" src="empleados.js"></script>
	<title>Empleados</title>
</head>
<body>
	<div id="empleados">
		<div id="Grupo_1">
			<svg class="Rectngulo_1">
				<linearGradient id="Rectngulo_1" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
					<stop offset="0" stop-color="#114667" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#2296de" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectngulo_1" rx="39" ry="39" x="0" y="0" width="1274" height="647">
				</rect>
			</svg>
			<svg class="Rectngulo_2">
				<rect id="Rectngulo_2" rx="33" ry="33" x="0" y="0" width="277" height="647">
				</rect>
			</svg>
			<a href="/inicio" id="img"><img src="home.png" alt="Home"></a>
			<div id="Empleados">
				<a href="/Employee">
					<svg class="Rectngulo_3">
						<rect id="Rectngulo_3" rx="29" ry="29" x="0" y="0" width="206" height="72">
						</rect>
					</svg>
					<div id="EMPLEADOS">
						<span>EMPLEADOS</span>
					</div>
				</a>
			</div>
			<div id="Empresas">
				<a href="/Enterprise">
					<svg class="Rectngulo_4">
						<rect id="Rectngulo_4" rx="29" ry="29" x="0" y="0" width="206" height="72">
						</rect>
					</svg>
					<div id="EMPRESAS">
						<span>EMPRESAS</span>
					</div>
				</a>
			</div>
			<a href="/Movements">
                <div id="Movimientos">
                    <svg class="Rectngulo_5">
                        <rect id="Rectngulo_5" rx="29" ry="29" x="0" y="0" width="206" height="72">
                        </rect>
                    </svg>
                    <div id="MOVIMIENTOS">
                        <span>MOVIMIENTOS</span>
                    </div>
                </div>
            </a>
			<div id="GestionEmpleados">
				<svg class="Rectngulo_6">
					<rect id="Rectngulo_6" rx="31" ry="31" x="0" y="0" width="997" height="78">
					</rect>
				</svg>
				<div id="GESTIN_DE_EMPLEADOS">
					<span>GESTIÓN DE EMPLEADOS</span>
				</div>
			</div>
			<div id="Registro_de_Empleados">
				<span>Registro de Empleados</span>
			</div>
			<div id="BtnNuevo">
				<a href="/nuevoempleado">
					<svg class="Rectngulo_9">
						<rect id="Rectngulo_9" rx="20" ry="20" x="0" y="0" width="143" height="42">
						</rect>
					</svg>
					<div id="Nuevo">
						<span>Nuevo</span>
					</div>
				</a>
			</div>
			<div id="advertencia">
				<p><strong>Advertencia:</strong> No es posible borrar un empleado si ha realizado movimientos.</p>
			</div>
			<div id="TableEmpleados" class="TableEmpleados">
				<table class="table table-hover">
					<thead>
						<tr class="table-dark table-striped">
							<th>Nombre</th>
							<th>Email</th>
							<th>Rol</th>
							<th>Empresa</th>
							<!--<th>Profile</th>
							<th>Password</th>-->
							<th>Editar</th>
							<th>Borrar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${employeesModel}">
							<td th:text="${employee.name}"></td>
							<td th:text="${employee.email}"></td>
							<td th:text="${employee.rol}"></td>
							<td th:text="${employee.enterprise}"></td>
							<!--<td th:text="${employee.profile}"></td>
                                <td th:text="${employee.password}"></td>-->
							<td><a th:href="@{/Employee/editar/{id} (id = ${employee.id})}">Editar</a></td>
							<td><a th:href="@{/Employee/borrar/{id} (id = ${employee.id})}">Borrar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
    </html>